** Project Euler Problem 75**
It turns out that 12 cm is the smallest length of wire that can be bent to form an integer sided right angle triangle in exactly one way, but there are many more examples.

- 12 cm: (3,4,5)
- 24 cm: (6,8,10)
- 30 cm: (5,12,13)
- 36 cm: (9,12,15)
- 40 cm: (8,15,17)
- 48 cm: (12,16,20)

In contrast, some lengths of wire, like 20 cm, cannot be bent to form an integer sided right angle triangle, and other lengths allow more than one solution to be found; for example, using 120 cm it is possible to form exactly three different integer sided right angle triangles.

120 cm: (30,40,50), (20,48,52), (24,45,51)

Given that L is the length of the wire, for how many values of L â‰¤ 1,500,000 can exactly one integer sided right angle triangle be formed?

** Assumptions **
1. a + b + c = l
2. $a^{2} + b^{2} = c^{2}$, i.e. the triangle conforms to the pythagorean theorem
3. c > a & b
4. a, b, and c are all integers

In [1]:
import itertools
from itertools import permutations
import numpy as np
import pandas as pd

In [34]:
# Generate 3 integer combinations that add to the total length
combos_list = list()
l = 5
int_vec = list(range(1,l+1))
combos = list(permutations(int_vec, 3))
print(combos[1:10])

[(1, 2, 4), (1, 2, 5), (1, 3, 2), (1, 3, 4), (1, 3, 5), (1, 4, 2), (1, 4, 3), (1, 4, 5), (1, 5, 2)]

In [35]:
def check_length(a,b,c,l):
    # Function checks that a+b+c = l
    if (a+b+c) == l:
        return 1
    else:
        return 0

In [36]:
def hypotenuse_match(a,b,c):
    # Functions checks that the suggested hypotenuse is the same as the length of the calculated hypotenuse
    c_calc = int(np.sqrt(a**2 + b**2))
#     print('Calculated C:', c_calc)
#     print('Proposed C:', c)
    if (c_calc == c):
        return 1
    else:
        return 0

In [37]:
def check_hypotenuse(a,b,c):
    # Function checks that the number for the hypotenuse (c) is larger than the side lenght (a & b)
    if (c > a) & (c > b):
        return 1
    else:
        return 0

In [59]:
validity = pd.DataFrame(data = combos, columns=['A', 'B', 'C'])
validity['Assumption 1']=np.nan
validity['Assumption 2']=np.nan
validity['Assumption 3']=np.nan


for index, row in validity.iterrows():
#     print('index:', index)
    a = row[0]
    b = row[1]
    c = row[2]
    validity.iloc[index, 3] = check_length(a,b,c,l)
    validity.iloc[index, 4] = hypotenuse_match(a,b,c)
    validity.iloc[index, 5] = check_hypotenuse(a,b,c)
    
validity.head()

   A  B  C  Assumption 1  Assumption 2  Assumption 3
0  1  2  3           0.0           0.0           1.0
1  1  2  4           0.0           0.0           1.0
2  1  2  5           0.0           0.0           1.0
3  1  3  2           0.0           0.0           0.0
4  1  3  4           0.0           0.0           1.0